<h1><%= @course.title %></h1>
<hr>
<% if @course.sections.any? %>
  <ul class="list-unstyled">
    <% @course.sections.each do |section| %>
      <li>
        (<%= section.week %>)
        <span class="redTitle">
          <%= link_to section.title, section_path(section) %>
        </span>

        <%= link_to "Edit", edit_section_path(section) %> /
        <%= link_to "Delete", section_path(section),
                               :data => {:confirm => "Are you sure?",
                                              :method => "delete"} %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no sections yet!</p>
<% end %>

<p class="redTitle"><%= link_to "Return to courses", courses_path %></p>
